






.recipes-container {







  width: 100%;







  display: flex;







  overflow: auto;







  min-height: 100vh;







  align-items: center;







  flex-direction: column;







}







.recipes-gallery {







  width: 100%;







  height: 1200px;







  display: grid;







  grid-gap: var(--dl-space-space-unit);







  max-width: var(--dl-size-size-maxwidth);







  align-items: flex-start;







  padding-top: var(--dl-space-space-twounits);







  padding-left: var(--dl-space-space-threeunits);







  padding-right: var(--dl-space-space-threeunits);







  padding-bottom: var(--dl-space-space-twounits);







  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;







  grid-template-areas: "a b b" "a b b" "a c d" "a c d"  "e e d" "e e f" "e e f";







  grid-template-columns: 1fr 1fr 1fr;







}







.recipes-container01 {







  flex: 0 0 auto;







  width: 100%;







  height: 100%;







  display: flex;







  opacity: 1;







  grid-area: a;







  transition: 0.3s;







  align-items: flex-start;







  flex-direction: column;







  background-size: cover;







  background-image: url("https://spoonacular.com/recipeImages/98769-312x231.jpg");
  background-position: center;







}







.recipes-container01:hover {







  transform: scale(0.98);







}







.recipes-container02 {







  width: 100%;







  height: 100%;







  display: flex;







  padding: var(--dl-space-space-unit);







  align-items: flex-start;







  flex-direction: column;







}







.recipes-text {







  color: var(--dl-color-gray-white);







}







.recipes-container03 {







  flex: 0 0 auto;







  width: 100%;







  height: 100%;







  display: flex;







  grid-area: b;







  transition: 0.3s;







  align-items: flex-start;







  flex-direction: column;







  background-size: cover;







  background-image: url("https://spoonacular.com/recipeImages/541174-312x231.jpg");
  background-position: center;







}







.recipes-container03:hover {







  transform: scale(0.98);







}







.recipes-container04 {







  width: 100%;







  height: 100%;







  display: flex;







  padding: var(--dl-space-space-unit);







  align-items: flex-start;







  flex-direction: column;







}







.recipes-text3 {







  color: var(--dl-color-gray-white);







}







.recipes-container05 {







  flex: 0 0 auto;







  width: 100%;







  height: 100%;







  display: flex;







  grid-area: c;







  transition: 0.3s;







  align-items: flex-start;







  flex-direction: column;







  background-size: cover;







  background-image: url("https://spoonacular.com/recipeImages/269114-312x231.jpg");
  background-position: center;







}







.recipes-container05:hover {







  transform: scale(0.98);







}







.recipes-container06 {







  width: 100%;







  height: 100%;







  display: flex;







  padding: var(--dl-space-space-twounits);







  align-items: flex-start;







  flex-direction: column;







}







.recipes-text4 {







  color: var(--dl-color-gray-white);







}







.recipes-container07 {







  flex: 0 0 auto;







  width: 100%;







  height: 100%;







  display: flex;







  grid-area: d;







  transition: 0.3s;







  align-items: flex-start;







  flex-direction: column;







  background-size: cover;







  background-image: url("https://spoonacular.com/recipeImages/1464073-312x231.jpg");
  background-position: center;







}







.recipes-container07:hover {







  transform: scale(0.98);







}







.recipes-container08 {







  width: 100%;







  height: 100%;







  display: flex;







  padding: var(--dl-space-space-unit);







  align-items: flex-start;







  flex-direction: column;







}







.recipes-text5 {







  color: var(--dl-color-gray-white);







}







.recipes-container09 {







  flex: 0 0 auto;







  width: 100%;







  height: 100%;







  display: flex;







  grid-area: e;







  transition: 0.3s;







  align-items: flex-start;







  flex-direction: column;







  background-size: cover;







  background-image: url("https://spoonacular.com/recipeImages/169301-312x231.jpg");
  background-position: center;







}







.recipes-container09:hover {







  transform: scale(0.98);







}







.recipes-container10 {







  width: 100%;







  height: 100%;







  display: flex;







  padding: var(--dl-space-space-unit);







  align-items: flex-start;







  flex-direction: column;







}







.recipes-text6 {







  color: var(--dl-color-gray-white);







}







.recipes-container11 {







  flex: 0 0 auto;







  width: 100%;







  height: 100%;







  display: flex;







  grid-area: f;







  transition: 0.3s;







  align-items: flex-start;







  flex-direction: column;







  background-size: cover;







  background-image: url("https://spoonacular.com/recipeImages/702231-312x231.jpg");
  background-position: center;







}







.recipes-container11:hover {







  transform: scale(0.98);







}







.recipes-container12 {







  width: 100%;







  height: 100%;







  display: flex;







  padding: var(--dl-space-space-unit);







  align-items: flex-start;







  padding-top: 16px;







  flex-direction: column;







}







.recipes-text7 {







  color: var(--dl-color-gray-white);







}







@media(max-width: 991px) {







  .recipes-gallery {







    grid-gap: var(--dl-space-space-unit);







  }







  .recipes-text {







    text-align: center;







  }







  .recipes-text1 {







    text-align: center;







  }







  .recipes-text3 {







    text-align: center;







  }







  .recipes-text4 {







    text-align: center;







  }







  .recipes-text5 {







    text-align: center;







  }







  .recipes-text6 {







    text-align: center;







  }







  .recipes-text7 {







    text-align: center;







  }







}







@media(max-width: 767px) {







  .recipes-gallery {







    height: auto;







    display: flex;







    padding: var(--dl-space-space-twounits);







    flex-direction: column;







  }







}







@media(max-width: 479px) {







  .recipes-gallery {







    width: 100%;







    padding: var(--dl-space-space-unit);







  }







}
